<%= simple_form_for(@recipient) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :user,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :first_name,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :last_name,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :street,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :suburb,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :postcode,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :state,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :country,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :relationship,input_html: { class: 'form-control' } %>
  </div>
  

  <div class="form-actions">
    <%= f.submit, 'Submit' class: 'btn btn-primary'%>
  </div>
<% end %>
