<%= simple_form_for(@occasion) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :recipient,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :name,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :occasion_type,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :message,input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :date,input_html: { class: 'form-control' } %>
  </div>
  

  <div class="form-actions">
    <%= f.submit, 'Submit' class: 'btn btn-primary'%>
  </div>
<% end %>
